body {
    width: 1400px;
    padding: 0;
    margin: 0 auto;
    background-color: rgb(41,44,51);
    scroll-behavior: smooth;
}

.freeShipping {
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    padding: 5px;
}

.menu {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    height: 80px;
}

.nav {
    width: 700px;
    cursor: pointer;
    transition: all 0.5s;
}

.nav>.cat:hover {
    border-bottom: 0.5px solid white;
    transition: all 0.5s;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-box-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.marg-right {
    margin-right: 20px;
}

.links {
    width: 700px;
}

.newReleases {
    width: 100%;
    height: 500px;
}

.wtch-pic {
    width: 300px;
}

.funWtch-pic {
    width: 300px;
}

.caption {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 30px;
}

.name {
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px;
    color: black;
}

.name, .price, .btn-buy {
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

.thirdSlide {
    width: 100%;
    height: 700px;
    background-image: url('/img/thirdSlideImg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slideContent {
    margin-left: 50px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    height: 100%;
}

.title {
    font-size: 50px;
    text-align: start;
    font-weight: bolder;

}

.dscrb {
    font-size: 20px;
    text-align: start;

}

.btn-more {
    width: 240px;
    border: 1px solid white;
    padding: 7px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}

.title, .dscrb, .btn-more {
    margin-top: 20px;
}

.bg-white {
    background-color: white;
}

.funTitle {
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    text-align: start;
}

.funDscrb {
    padding: 15px;
    font-style: italic;
    font-size: 17px;
}

.funName {
    font-weight: bold;
}

.funName, .funPrice {
    text-align: center;
    padding: 5px;
}

#containerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#watch-box {
    flex-direction: column;
    width: 400px;
    display: flex;
    align-items: center;
    height: 400px;
}

.pic {
    width: 300px;
}

.price {
    color: black;
}

.btm-block {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.btn-buy {
    color: black;
    width: 65px;
    border: 1px solid deeppink;
    border-radius: 15px;
    cursor: pointer;
}

.like {
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.6s;
}

.like:hover {
    background-color: red;
    transition: all 0.6s;
}


/*лена 040223*/
.cartImg{
    width: 40px;
    height: 40px;
    position: relative;
}
.cartImg img{
    width: 40px;
    cursor: pointer;
}
#countProduct{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF0033;
    color: white;
    border: none;
    position: absolute;
    padding: 0;
    font-size: 12px;
    top: -7px;
    left: -9px;
}
